#headerContainer{
    height: 30vh;
    background-color: #E9ECEF;
    margin-bottom: 10px;
}

#dest{
    padding-top: 5%;
}

#mainElements{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 60vh;
    justify-content: center;
}

#red_box{
    border: 10px solid #ED2805;
    height: 60vh;
}

#blue_box{
    border: 10px solid #0B3BFF;
}

#purple_header{
    margin-top: 3px;
    /* border: 10px solid #EC41FF; */
    height: 10%;
    font-size: larger;
}

#yellow_body{
    margin-top: 10px;
    /* border: 10px solid #FFFA0E; */
    height: 85%;

}
#inputs{
    width: 70%;
    margin: auto;
}

#submitBtn {
    display: flex;
    justify-content: center;
  margin: auto;
}
.row{
 padding-top: 5px;    
}
.blah{
    margin-top: 5vh;
}